__pycache__/
*.ipynb_checkpoints/
*.pt
.venv/

# Ignore all outputs and plots
output/
*.png

# Ignore virtual environments
.venv/
__pycache__/

# Ignore logging notes
todo.md
troubleshooting.md

# Ignore VS Code Git bookkeeping files
.gitignored_files_list
.gituntracked_files_list
